#homeContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#homeHeadline {
  margin: 2vh;
  padding: 1%;
  font-size: 8vw;
}

.textContainer {
  height: 25vh;
  width: 25vw;
  padding: 1%;
}

.imgContainer {
  height: 15vh;
  width: 10vw;
  border: 1px solid #30475e;
  border-radius: 15px;
  box-shadow: 5px 10px #30475e;
  background-color: #ffffff;
  transform: rotate(10deg);
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
