<section>
  <form
    (ngSubmit)="submitForm()"
    [formGroup]="contactForm"
    class="contact-form"
  >
    <table class="form-table">
      <mat-form-field class="form-field">
        <mat-label>First Name</mat-label>
        <input
          matInput
          formControlName="firstName"
          placeholder="Enter your first name"
        />
        <mat-error *ngIf="contactForm.get('firstName')?.hasError('required')">
          First name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          formControlName="lastName"
          placeholder="Enter your last name"
        />
        <mat-error *ngIf="contactForm.get('lastName')?.hasError('required')">
          Last name is required
        </mat-error>
      </mat-form-field>
    </table>

    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="Enter your email address"
        type="email"
      />
      <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Subject</mat-label>
      <input
        matInput
        formControlName="subject"
        placeholder="Enter the subject of your message"
      />
      <mat-error *ngIf="contactForm.get('subject')?.hasError('required')">
        Subject is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Message</mat-label>
      <textarea
        matInput
        formControlName="message"
        placeholder="Enter your message"
      ></textarea>
      <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
        Message is required
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="contactForm.invalid"
    >
      Submit
    </button>
  </form>
</section>
